* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
p {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  font-family: 'Darker Grotesque', sans-serif;
}
.big-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  border: 1px solid white;
}

.container-verticle {
  flex: 1;
  display: flex;
  width: 100vw;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;

}

.name {
  flex: 1;
  border-right: 1px solid white;

}

.row-afterhover {
  height:60vh;
}

.colum-afterhover {
  flex:3;
}
