* {
    box-sizing: border-box;
  }


/* the biggest container */
section {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  height:100vh;
  overflow: hidden;
  padding-top: 10px;

  }



.navybar-container {
  color: black;
  display: flex;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  z-index: 9999;
  padding-top: 5px;
  margin-left: 0;
  font-family: 'Poppins', sans-serif;
  justify-content: space-around;
    }



/* image holder */
  #bgimg {
    overflow: hidden;
    margin-left: 3%;
    width: 100vw;


  }
#start {
  margin-top: 15px;
  font-size: 150px;
  text-align: center;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left:0;
  padding-right: 0;
  border: 0;


}

h1 {
    cursor: pointer;
}


/* flying paper holder */
#text {
  margin-top: 15px;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left:0;
  padding-right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  display: none;
}


/* give all text boxes a style */
p {
    display: block;
    height: auto;
    font-size: 19px;
    border: 1px solid black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2%;

    display: inline-block;
    white-space: nowrap;
}

/* make varitions to flying boxes like speed and position */
.ticker1 {
  position: relative;
  top:10px;
  left:100px;
  animation: animate 24s linear infinite;
  margin-right: 2%;
}

.ticker2 {
  position: relative;
  left: 20px;
  animation: animate 15s linear infinite;
  margin-right: 5%;


}

.ticker3 {
  position: relative;

  bottom: 36px;
  animation: animate 20s linear infinite;
  margin-right: 5%;

}

.ticker4 {
  position: relative;
  top: 15px;
  animation: animate 18s linear infinite;
  margin-right: 5%;

}

/* I cannot control where tickers start and where it end. Ideally, I want to make it looping, always show up from the very right and disppear at the very left of the screen and show up at the left again. Now it is twitching!!!! not a smooth loop */

@keyframes animate {
  0% {
    -webkit-transform: translateX(650%);
    transform: translateX(650%);

  }
  100% {
    -webkit-transform: translateX(-550%);
    transform: translateX(-550%);
  }
}

  /*At first, I want to hover it, it reverse and become bigger, but after giving it the font-size, its position goes crazy!! flying to nowhere*/
p:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
    animation-play-state:paused;
}

.cookie {
  position: fixed;
  bottom: 5%;
  left: 5%;
  transform: rotate(360deg);
  transform-origin: center;
  -webkit-animation: cookie 5s linear infinite;
  animation: cookie 5s linear infinite;


}

@keyframes cookie {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);

  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}


.cookie2 {
  position: fixed;
  top: -10%;
  right: 10%;
  transform: rotate(360deg);
  transform-origin: center;
  -webkit-animation: cookie 5s linear infinite;
  animation: cookie 5s linear infinite;
  animation-delay: 2.5s;

}

@keyframes cookie {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);

  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.cookie2:hover {
  animation-play-state:paused;
}

.cookie:hover {
  animation-play-state:paused;
}

/*ipad size*/
@media screen and (max-width: 768px) {
  p {
    margin-bottom: -35px;
    font-size: 18px;
  }
  .ticker1 {
    position: relative;
    top:20px;
    left:200px;
    animation: animate 24s linear infinite;

  }

  .ticker2 {
    position: relative;
    right: 300px;
    animation: animate 20s linear infinite;


  }

  .ticker3 {
    position: relative;
    bottom: 36px;
    animation: animate 16s linear infinite;

  }

  .ticker4 {
    position: relative;
    top: 15px;
    animation: animate 18s linear infinite;

  }





}

/*iphone size*/
@media screen and (max-width: 506px) {
  .navybar-container {
    font-size: 1rem;
      }
  #bgimg {
    width: 100vw;
  }

  p {
    font-size: 13px;
    margin-bottom: 40px;
  }

  p:hover {
    animation-play-state: running;

  }
  .ticker1 {
    position: relative;
    top:40px;
    left:200px;
    animation: animate 16s linear infinite;

  }

  .ticker2 {
    position: relative;
    top: 32px;
    left:300px;
    animation: animate 18s linear infinite;


  }

  .ticker3 {
    position: relative;
    left:250px;
    bottom: 15px;
    animation: animate 14s linear infinite;

  }

  .ticker4 {
    position: relative;
    left:150px;

    animation: animate 15s linear infinite;

  }
  @keyframes animate {
    0% {
      -webkit-transform: translateX(150%);
      transform: translateX(150%);

    }
    100% {
      -webkit-transform: translateX(-250%);
      transform: translateX(-250%);
    }
  }

}
