* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  font-family: 'Arimo', sans-serif;
}

a {
  font-size:60px;
  padding-left: 20px;
  text-decoration: none;
  color: white;

}

a:hover {
  color: Olive;
}

h1 {
  font-size: 60px;
  padding-left: 20px;
  text-decoration: none;
}

.big-container {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height:100vh;
}

.flex {
  flex:1;

}

.flex:hover {
    font-size: 80px;
}


.container-1 {
  flex: 1;
}

.container-2 {
  background-color: gray;
  flex: 1;
  display: flex;
  flex-direction: row;
  display: none;
}



.class1 {
  background-color: Teal;
  background-color: OliveDrab;
color: white;
}

.class2 {
  background-color: Maroon;
  color: white;
}

.class3 {
  background-color: OrangeRed;
  color: white;
}

.class4 {
  background-color: MidnightBlue;
  color: white;
}

.class5 {
  background-color: OliveDrab;
  background-color: Teal;
  color: white;
}

.class6 {
  background-color: DarkViolet;
  background-color: DarkGreen;
  background-color:  GoldenRod;

  color: white;
}

.class7 {
  background-color: DarkGreen;
  background-color: DarkViolet;
  color: white;
}

.class8 {
  background-color: Indigo;
  color: white;
}

.flex:hover {
  color: black;
  background-color: black;
}

.toggle {
  display: flex;
  flex-direction: row;
}

.items {
  flex:1;
  background-color: black;
}


.items:hover {
  background-color: Olive;
  color: black;
}

#item-text1:hover {
  color: black;

}

#item-text2:hover {
  color: black;

}

#item-text3:hover {
  color: black;

}


.spin {
    width: 250px;
    height: 250px;
    position: fixed;
    right: 35px;
    top: 30px;
    border-radius: 50%;
    background: white;
    display: block;
    z-index: 10 !important;
}

.spin-text {
    position: absolute;
    font-size: 22px;
    width: 100%;
    text-align: center;
    line-height: 24spx;
    color: black;
    top: 35% !important;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
  }

  .spin-2 {
      width: 250px;
      height: 250px;
      position: fixed;
      right: 35px;
      top: 350px;
      border-radius: 50%;
      background: white;
      display: block;
      z-index: 10 !important;
  }

  .spin-text-2 {
      position: absolute;
      font-size: 22px;
      width: 100%;
      text-align: center;
      line-height: 28spx;
      color: black;
      top: 45% !important;
      -webkit-animation: rotate2 10s linear infinite;
      animation: rotate2 10s linear infinite;
    }

.spin-3 {
        width: 250px;
        height: 250px;
        position: fixed;
        right: 35px;
        top: 670px;
        border-radius: 50%;
        background: white;

        display: block;
        z-index: 10 !important;
    }

.spin-text-3 {
        position: absolute;
        font-size: 22px;
        width: 100%;
        text-align: center;
        line-height: 28spx;
        color: black;
        top: 30% !important;
        -webkit-animation: rotate3 10s linear infinite;
        animation: rotate3 10s linear infinite;
      }

@keyframes rotate {
    0% {
    -webkit-transform: rotate(0deg);
    animation: rotate(0deg);
}
    100% {
    -webkit-transform: rotate(360deg);
    animation: rotate(360deg);
    }
  }

@keyframes rotate2 {
      0% {
      -webkit-transform: rotate(0deg);
      animation: rotate(0deg);
  }
      100% {
      -webkit-transform: rotate(-360deg);
      animation: rotate(-360deg);
      }
    }
@keyframes rotate3 {
        0% {
        -webkit-transform: rotate(0deg);
        animation: rotate(0deg);
    }
        100% {
        -webkit-transform: rotate(360deg);
        animation: rotate(360deg);
        }
      }
