* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-size: 60px;
  padding-left: 20px;
}

p {
  font-size: 30px;
  padding-left: 20px;
}

.big-container {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    height:100vh;
}

.flex {
  flex:1;

}

.toggle-1 {
    background-color: Crimson;
    color: white;
    display: flex;

}

.toggle-2 {
    background-color: Tomato;
    color: white;
    display: flex;
}

.toggle-3 {
    background-color: Magenta;
    color: black;
    display: flex;
}

.toggle-4 {
    background-color: Lime;
    color: black;
    display: flex;
}

.class1 {
  background-color: whitesmoke;
}

.class2 {
  background-color: lightgray;
}

.class3 {
  background-color: gray;
  color: white;
}

.class4 {
  background-color: black;
  color: white;
}

.class1:hover {
  color: Crimson;
  background-color: whitesmoke;
}

.class2:hover {
  color: Tomato;
  background-color: lightgray;
}

.class3:hover {
  color: Magenta;
  background-color: gray;
}

.class4:hover {
  color: Lime;
  background-color: black;
}

/*iphone size*/
@media screen and (max-width: 506px) {
  .toggle-1 {
      display: none;

  }

  .toggle-2 {
    display: none;
  }

  .toggle-3 {
    display: none;
  }

  .toggle-4 {
    display: none;
  }


}
