body {
    padding-left: 15vw;
    padding-right: 15vw;
    align-items: center;
    background-color: black;
    color: blue;
    font-size: 32px;
}

.card {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    border: 1px solid white;

}

.card {
   transform: skew(0deg, 0deg)
   translateY(300px);
   /* animation: fall 10s ease-in 2s infinite; */

   animation-name: fall;
   animation-duration: 10s;
   animation-timing-function: ease-in-out;
   animation-delay: 2s;
   animation-direction: 1;
}

.card:hover {
  color: white;
}

@keyframes fall {
  0% {
    transform: translateY(300px) skew(0deg, 0deg)

  }


  100% {
    transform: translateY(300px) skew(-180deg, 180deg)

  }
}
